<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yesanqiu.online_chat.mapper.NewFriendsMapper" >
  <resultMap id="BaseResultMap" type="com.yesanqiu.online_chat.entity.NewFriends" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="n_id" property="nId" jdbcType="INTEGER" />
    <result column="f_id" property="fId" jdbcType="VARCHAR" />
    <result column="m_id" property="mId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>